.hero-image{
  position: relative;
  height: 500px;
  overflow: hidden;
  background: url('./photos/headerpic.jpg') no-repeat center;
  background-size: cover; 
}

.banner-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.banner-container h1{
  font-size: 50px;
  letter-spacing: 0.3em;
}

.banner-container h1 span{
  border: 10px solid white;
  padding: 6px 14px;
  display: inline-block;
  font-family: sans-serif;
}

.des{
  margin: 20px;
  display: block;
  font-size: 26px;
  text-shadow: 0 0 10px black;
  font-family: sans-serif;
}